<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Read Blog</title>
    <link rel="stylesheet" href="/public/styles/main.css" />
  </head>
  <body>
    <div class="blog-container">
      <h1><%= blog.title %></h1>
      <span>Author: <%= blog.name %></span><br>
      <span>Date: <%= new Date(blog.createdAt).toLocaleDateString() %></span>
      <p><%- blog.content.replace(/\n/g, "<br />") %></p>

      <div class="form-container">
     
        <div class="form-box">
          <button id="show-edit" class="edit-btn">Edit</button>
          <form
            id="edit-form"
            action="/edit-blog"
            method="POST"
            style="display: none"
          >
            <input type="hidden" name="id" value="<%= blog.id %>" />
            <input
              type="email"
              name="email"
              placeholder="Enter your email *"
              required
            />
            <input
              type="password"
              name="password"
              placeholder="Enter your password *"
              required
            />
            <button type="submit" class="edit-c-btn">Confirm Edit</button>
          </form>
        </div>

       
        <div class="form-box">
          <button id="show-delete" class="delete-btn">Delete</button>
          <form
            id="delete-form"
            action="/delete-blog"
            method="POST"
            style="display: none"
          >
            <input type="hidden" name="id" value="<%= blog.id %>" />
            <input
              type="email"
              name="email"
              placeholder="Enter your email *"
              required
            />
            <input
              type="password"
              name="password"
              placeholder="Enter your password *"
              required
            />
            <button type="submit" class="delete-c-btn">Confirm Delete</button>
          </form>
        </div>
      </div>
    </div>
  </body>

  <script>
    function toggleForm(buttonId, formId) {
      document.getElementById(buttonId).addEventListener("click", function () {
        const form = document.getElementById(formId);
        form.style.display = form.style.display === "none" ? "block" : "none";
      });
    }

    toggleForm("show-edit", "edit-form");
    toggleForm("show-delete", "delete-form");
  </script>
</html>
<%- include("partials/footer.ejs") %>
