<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="body-container">
      <div class="container">
        <form action="/add-blog" method="POST">
          <input
            type="hidden"
            name="id"
            value="<%= typeof blog !== 'undefined' && blog ? blog.id : '' %>"
          />
          <input
            type="text"
            name="title"
            value="<%= typeof blog !== 'undefined' && blog ? blog.title : '' %>"
            placeholder="Title *"
            required
          />
          <input
          type="text"
          name="name"
          value="<%= typeof blog !== 'undefined' && blog ? blog.name : '' %>"
          placeholder="Author name *"
          required
        />
          <input
            type="email"
            name="email"
            value="<%= typeof blog !== 'undefined' && blog ? blog.email : '' %>"
            placeholder="Email *"
            required
          />
          <input
            type="password"
            name="password"
            placeholder="Password *"
            required
          />
          <textarea
            name="content"
            placeholder="
            Author: author name
            your content...
            "
            required
          >
<%= typeof blog !== 'undefined' && blog ? blog.content : '' %></textarea
          >
          <button type="submit" id="post">Post</button>
        </form>
      </div>
    </div>
  </body>
</html>
<%- include("partials/footer.ejs") %>
